In [43]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [44]:
data = sns.load_dataset('tips')

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [37]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [46]:
data['day'].unique()
data['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [53]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
le=data['time']
y=label.fit_transform(le)

In [54]:
dropped=data.drop(columns=['time'])

In [55]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
preprocessing=ColumnTransformer(
    transformers=[(
        'cat1',OneHotEncoder(),['sex','smoker','day'],
)], remainder='passthrough')
processed=preprocessing.fit_transform(dropped)

In [56]:
col_names=preprocessing.get_feature_names_out()
x=pd.DataFrame(processed,columns=col_names)

In [57]:
x

,cat1__sex_Female,cat1__sex_Male,cat1__smoker_No,cat1__smoker_Yes,cat1__day_Fri,cat1__day_Sat,cat1__day_Sun,cat1__day_Thur,remainder__total_bill,remainder__tip,remainder__size
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,16.99,1.01,2.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,10.34,1.66,3.0
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,21.01,3.50,3.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,23.68,3.31,2.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,24.59,3.61,4.0
...,...,...,...,...,...,...,...,...,...,...,...
239,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,29.03,5.92,3.0
240,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,27.18,2.00,2.0
241,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,22.67,2.00,2.0
242,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,17.82,1.75,2.0
243,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,18.78,3.00,2.0

In [58]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [59]:
x_train

,cat1__sex_Female,cat1__sex_Male,cat1__smoker_No,cat1__smoker_Yes,cat1__day_Fri,cat1__day_Sat,cat1__day_Sun,cat1__day_Thur,remainder__total_bill,remainder__tip,remainder__size
234,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,15.53,3.00,2.0
227,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,20.45,3.00,4.0
180,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,34.65,3.68,4.0
5,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,25.29,4.71,4.0
56,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,38.01,3.00,4.0
...,...,...,...,...,...,...,...,...,...,...,...
106,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,20.49,4.06,2.0
14,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,14.83,3.02,2.0
92,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,5.75,1.00,2.0
179,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,34.63,3.55,2.0
102,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,44.30,2.50,3.0

In [61]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [63]:
from sklearn.metrics import accuracy_score, classification_report
acc=accuracy_score(y_pred,y_test)
clas1=classification_report(y_pred,y_test)
print('accuracy =',acc)
print('classification Report = ',clas1)

accuracy = 0.9594594594594594
classification Report =                precision    recall  f1-score   support

           0       0.95      1.00      0.97        52
           1       1.00      0.86      0.93        22

    accuracy                           0.96        74
   macro avg       0.97      0.93      0.95        74
weighted avg       0.96      0.96      0.96        74

In [ ]:
''